/*
 * @Author: Kenneth Kwakye-Gyamfi
 * @Date: 2019-04-11 21:19:21
 * @Last Modified by: Kenneth Kwakye-Gyamfi
 * @Last Modified time: 2019-04-11 21:51:58
 */
.footer {
	background-color: #252934;
	position: relative;
	padding: 2.5rem 1rem 0;
	min-height: 20rem;
}

@media screen and (min-width: 40rem) {
	.footer {
		padding: 10rem 1rem 0;
		-webkit-clip-path: polygon(50% 5rem, 100% 0, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(50% 5rem, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

.footer__title {
	text-align: center;
	line-height: 1.4;
	color: #ffffff;
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

.footer__subtitle {
	color: #009688;
	text-align: center;
	line-height: 1.4;
	font-size: 1.25rem;
	margin-bottom: 2rem;
}

/*#region Footer form */
.footer-form {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 7.5rem;
}

@media screen and (min-width: 30rem) {
	.footer-form {
		width: 30rem;
	}
}

.footer-form__input {
	width: 100%;
	margin-bottom: 1rem;
	background: #1e242c;
	border: none;
	padding: 1rem;
	color: #ffffff;
	font-size: 0.9rem;
}

.footer-form__textarea {
	min-height: 10rem;
	resize: vertical;
}

.footer-form__button {
	padding: 0.75rem 1.5rem;
	background: transparent;
	border: 1px solid #ffffff;
	font-size: 0.9rem;
	color: #ffffff;
}
/*#endregion*/

.footer__base {
	padding: 3rem 1rem;
	background-color: #1b242f;
	width: calc(100% + 2rem);
	margin: 0 -1rem;
	position: relative;
}

.footer-base__scroll-to {
	position: absolute;
	width: 3rem;
	height: 3rem;
	border: 1px solid #ffffff;
	background-color: transparent;
	top: -1.5rem;
	left: calc(50% - 1.5rem);
	color: #ffffff;
	transition: 175ms;
	cursor: pointer;
}

.footer-base__scroll-to:hover,
.footer-base__scroll-to:active {
	background-color: #ffffff;
	color: #1b242f;
}

.copyright {
	color: #aaaaaa;
	text-align: center;
	margin-bottom: 0.5rem;
	line-height: 1.4;
}

.footer-base__github {
	text-align: center;
	line-height: 1.4;
	color: #bbbbbb;
}

.footer-base__github a {
	color: #eeeeee;
	border-bottom: 1px dotted #eeeeee;
}

.footer-base__github a i {
	display: inline-block;
	margin-right: 0.5rem;
}
